body {
 font: 11pt Arial, Helvetica, sans-serif; 	/* Рубленый шрифт текста */
 margin: 0; 								/* Отступы на странице */
}

h1 {
 font-size: 36px; 				/* Размер шрифта */
 margin: 0; 					/* Убираем отступы */
 color: #fc6; 					/* Цвет текста */
}

h2 {
 margin-top: 0; 				/* Убираем отступ сверху */
}

#header { 						/* Верхний блок */
 background: #0080c0; 			/* Цвет фона */
 padding: 10px; 				/* Поля вокруг текста */
	text-align: center;			/* Вырвнивание текста по центру */
}

#sidebar { 						/* Левая колонка */
 background: #fff;
 float: left; 					/* Обтекание справа */
 width:180px; 					/* Ширина колонки */
 margin: 10px 10px 10px 5px; 	/* Значения отступов */
 padding: 5px; 					/* Поля вокруг текста */
 border: 1px solid #333; 		/* Параметры рамки вокруг */
}


//#content { 						/* Правая колонка */
// background: #fff;
// width: auto;
// margin: 10px 10px 10px 210px; 	/* Значения отступов */
// padding: 5px; 					/* Поля вокруг текста */
// border: 1px solid #333; 		/* Параметры рамки */
//}


#footer { 						/* Нижний блок */
 background: #333; 				/* Цвет фона */
 padding: 2px; 					/* Поля вокруг текста */
 color: #fff; 					/* Цвет текста */
 clear: left; 					/* Отменяем действие float */
}

dt {
    float: left; /* Для размещения на одной строке */
    width: 120px; /* Ширина для текста */
    text-align: right; /* Выравнивание по правому краю */
    padding-right: 5px; /* Отступ справа */
    min-height: 1px; /* Минимальная высота */
   }
   dd {
    position: relative; /* Относительное позиционирование */
    top: -1px; /* Смещаем поля вверх */
    margin-bottom: 6px; /* Расстояние между строк */
   }